{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<article class="media content-section">
    <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{% url 'profile' post.author.id %}">{{ post.author }}</a>
            <small class="text-muted mr-2">{{ post.date_posted|date:"F d, Y" }}</small>
            {% if post.edited %}
            <small class="text-muted"><i>Edited</i></small>
            {% endif %}
            {% if post.author == user %}
            <a class="btn btn-secondary btn-sm ml-2 mb-1" href="{% url 'edit' post.id %}">Edit</a>
            <a class="btn btn-danger btn-sm ml-2 mb-1" href="{% url 'delete' post.id %}">Delete</a>
            {% endif %}
        </div>
        <h2 class="article-title">{{ post.title }}</h2>
        <p class="article-content">{{ post.body }}</p>
    </div>
    {% if post.author != user and user.profile not in post.reports.all %}
    <a class="fa-regular fa-flag report-flag" href="{% url 'report' post.id %}"></a>
    {% elif user.profile in post.reports.all %}
    <i class="fa-solid fa-flag report-flag"></i>
    {% endif %}
</article>
<i class="fa-regular fa-comments comment-button"></i>
<span class="comment-button">Comments</span>
{% for comment in post.comment_set.all %}
<article class="media comment-section">
<div class="media-body">
    <div class="article-metadata">
        <img class="rounded-circle comment-img" src="{{ comment.author.profile.image.url }}">
        <a class="mr-2" href="{% url 'profile' comment.author.id %}">{{ comment.author }}</a>
        <small class="text-muted">{{ comment.date_posted|date:"F d, Y" }}</small>
    </div>
    <p class="article-content">{{ comment.body }}</p>
</div>
</article>
{% endfor %}
<a class="btn btn-info btn-sm" href="{% url 'newcomment' post.id %}">Add a comment</a>
{% endblock content %}